-@page_title = "#{locals[:pageTitle]}"
%body
  =haml :menu
  =haml :timeline
  -locals[:body].each do |key, value|
    -case key
    -when /h1(.*)/
      %h1=value
    -when /p(.*)/
      %p=value
    -when /image(.*)/
      %img{:src => value[:src], :alt => value[:alt], :id => value[:id], :width => value[:width]}