%html
  %link{:rel => 'stylesheet', :href => '/css/event.css', :type => 'text/css', :media => 'screen'}
  %link{:rel => 'stylesheet', :href => '/css/menu.css', :type => 'text/css', :media => 'screen'}
  %link{:rel => 'stylesheet', :href => '/css/timeline.css', :type => 'text/css', :media => 'screen'}
  %script{:src => '/js/jquery-1.4.4.min.js', :type => 'text/javascript'}
  %script{:src => '/js/event.js', :type => 'text/javascript'}
  %head
    %title Events Search
  %body
    #menuContainer
    .articleBody
    #timelineContainer
    %ol
      -locals.collect do |key, value|
        %li.milestone
        -key.scan(/(....)(..)(..)/) do |group|
          #{group[2]}-#{Date::MONTHNAMES[group[1].to_i]}-#{group[0]}  -   #{value[:pageTitle]}

