%body.galleryTimeline
  .btn-group
    %a.btn.btn-primary{href: '/gallery'}
      List
    %a.btn.btn-primary{href: '/gallery/timeline'}
      Timeline

  -ASSET_STORE.get_all_assets_grouped_by_year_then_month.each do |date, filenames|
    %center
      %h2
        ="#{Date::MONTHNAMES[date[4..5].to_i]} #{date[0..3]}"
    %ol#timetable
      %li#thisMonth
        %ol.days
          -days_in_month(date[4..5].to_i).times do |day|
            %li
              ="#{day+1}"
              -if date[6..8].to_i == day
                %ol.images
                  -filenames.each do |filename|
                    %li
                      %img{:src=>"/#{filename}"}

