%link{:rel => 'stylesheet', :href => '/menu.css', :media => 'screen'}
%nav.navbar.navbar-inverse.navbar-fixed-top.menu
  .navbar-inner
    .container-fluid
      %ol
        %li
          %a#homelink.inactive{:href => '/'} Home
        %li
          %a#timelineLink.active{:href => '/timeline'} Timeline
        %li
          %a#catalogueLink.inactive{:href => '/gallery'} Gallery

