%link{:rel => 'stylesheet', :href => '/menu.css', :media => 'screen'}
.menu
  %ol
    %li
      %a#homelink.inactive{:href => '/#final'} Home
    %li
      %a#timelineLink.active{:href => 'timeline'} Timeline