#timeline{:style => "overflow : hidden;"}
  %ul.tl-events
    -EVENT_STORE.get_timeline.each do |month_and_year, days|
      %li.first
        %h3
          =month_and_year
        %ul.column
          -days.each do |day|
            %li#event-first-test-month.milestone
              %a{:hidefocus => "", :href => day[:link]}
                %span{:class =>".tl-icon", :title => "Milestomes"}
                  %span.tl-msg
                    %span.tl-msg-inside
                      =day[:title]
