.galleryTimeline h2{
    font-family: helvetica;
    font-size: 50px;
}

.galleryTimeline ol#timetable{
    margin: 20px;
    padding: 0px;
    display: inline-block;
    list-style: none;
}

.galleryTimeline #timetable ol{
    padding: 0px;
}

.galleryTimeline #timetable .days li{
    list-style: none;
    float: left;
    width: 200px;
    height: 174px;
    border: 1px solid #FFE807;
    font-family: helvetica;
    font-size: 18px;
}

.galleryTimeline #timetable ol.images li{
  border: none;
  /*display: none;*/
}

.galleryTimeline #timetable ol li img{
    max-width: 200px;
    max-height: 174px;
}

.galleryTimeline #timetable ol li .2 img,
.galleryTimeline #timetable ol li .3 img,
.galleryTimeline #timetable ol li .4 img{
    max-width: 50%;
    max-height: 50%;
}

.galleryTimeline #timetable ol {
    margin-left: 0px
}

.btn-group{
    margin-left: 45%;
}

.imageList{
  list-style: none;
}

.imageList li img{
  height: 50%;
  float: left;
}
