nav.menu ol {
    list-style-type:none;
}

nav.menu ol li div {
    width:100px;
    height:100%;
    float:left;
    font-size:20px;
    text-align:center;
    margin-top:15px;
}

nav.menu ol li:hover{
    cursor:pointer;
}

nav.menu ol li a{
    padding-top:15px;
    width:100px;
    height:35px;
    float:left;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:#999999;
}

nav.menu ol li a.inactive:hover{
    color:#FFE807;
    text-decoration:underline;
    cursor:pointer;
}

nav.menu ol li a.active{
    color:#FFE807;
}

.after-nav{
    margin-top: 65px;
}
