.assetTimetable h2{
    font-family: helvetica;
    font-size: 50px;
}

.assetTimetable ol#timetable{
    margin: 20px;
    padding: 0px;
    display: inline-block;
    list-style: none;
}

.assetTimetable #timetable ol{
    padding: 0px;
}

.assetTimetable #timetable .days li{
    list-style: none;
    float: left;
    width: 200px;
    height: 174px;
    border: 1px solid #FFE807;
    font-family: helvetica;
    font-size: 18px;
}

.assetTimetable #timetable ol.images li{
  border: none;
  /*display: none;*/
}

.assetTimetable #timetable ol li img{
    max-width: 200px;
    max-height: 174px;
}

.assetTimetable #timetable ol li .2 img,
.assetTimetable #timetable ol li .3 img,
.assetTimetable #timetable ol li .4 img{
    max-width: 50%;
    max-height: 50%;
}

